.navbar-custom {
  .button-profile {
    display: flex;
    border-left: 2px solid #dfe0eb;
    padding-left: 25px;
    cursor: pointer;

    @media (max-width: 568px) {
      border-left: 0;
      padding-left: 0;
    }

    &:hover {
      span {
        text-decoration: underline;
      }
    }

    span {
      font-weight: 500;
    }

    img {
      margin-left: 20px;
      padding: 2px;
      border: 2px solid #dfe0eb;
    }

    .circle {
      position: relative;
      display: block;
      background-color: transparent;
      color: #fff;
      text-align: center;
      border: 2px solid white;
      border-radius: 50%;
    }

    .circle:after {
      display: block;
      padding-bottom: 100%;
      width: 100%;
      height: 0;
      border-radius: 50%;
      background-color: #8bbdff;
      content: "";
    }

    .circle__inner {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .circle__wrapper {
      display: table;
      width: 100%;
      height: 100%;
    }

    .circle__content {
      display: table-cell;
      vertical-align: middle;
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}
