@import "./assets/scss/app.scss";
@import "../node_modules/react-redux-toastr/src/styles/index";

$main-color: #0c2340;
$main-transition: 0.2s ease-in-out all;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.button-main {
  border: 2px solid $main-color;
  background: transparent;
  font-size: 36px;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 10px;
  transition: $main-transition;

  &:hover {
    background: $main-color;
    color: white;
    transition: $main-transition;
  }

  @media (max-width: 767px) {
    font-size: 20px;
    padding: 10px 15px;
    margin: 0 5px !important;
  }
}

.button-submain {
  border: 2px solid $main-color;
  background: transparent;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 10px;
  transition: $main-transition;

  &:hover {
    background: $main-color;
    color: white;
    transition: $main-transition;
  }
}

.button-transparent {
  border: 0;
  background: 0;
  color: $main-color;
  padding: 0;
  text-decoration: underline;
  font-weight: 600;

  &:hover {
    color: $main-color;
  }

  &:disabled {
    opacity: 50%;
    cursor: default;
  }
}

.button-transparent-2 {
  border: 0;
  background: 0;
  color: $main-color;
  padding: 0;
  font-weight: 600;

  &:hover {
    color: $main-color;
    text-decoration: underline;
  }
}

.set-transparent {
  opacity: 0.25;
  transition: $main-transition;

  &:hover {
    opacity: 1;
    transition: $main-transition;
  }
}

.set-transition {
  transition: $main-transition;

  &:hover {
    transition: $main-transition;
  }
}

.text-blue {
  color: $main-color !important;
}

.text-green {
  color: #00b16a !important;
}

//Letter Spacings
.ls-1 {
  letter-spacing: 0.05em;
}

.ls-2 {
  letter-spacing: 0.1em;
}

.ls-3 {
  letter-spacing: 0.15em;
}

.ls-4 {
  letter-spacing: 0.2em;
}

.ls-5 {
  letter-spacing: 0.25em;
}

.no-size-padding {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

//Hidden
.xs-hidden {
  @media (max-width: 374px) {
    display: none !important;
  }
}

.sm-hidden {
  @media (max-width: 568px) {
    display: none !important;
  }
}

.mobile-hidden {
  @media (min-width: 567px) and (max-width: 767px) {
    display: none !important;
  }
}

.tablet-hidden {
  @media (min-width: 768px) and (max-width: 990px) {
    display: none !important;
  }
}

.tab-hidden {
  @media (min-width: 991px) and (max-width: 1199px) {
    display: none !important;
  }
}

.tab-below-hidden {
  @media (max-width: 1199px) {
    display: none !important;
  }
}

.desktop-hidden {
  @media (min-width: 1200px) {
    display: none !important;
  }
}

//Opacity
.opacity-10 {
  opacity: 10%;
}

.opacity-50 {
  opacity: 50%;
}
