.page-settings {
  .button-submain {
    width: 100%;
    padding: 10px 0;
  }

  h2 {
    color: black;
    margin-bottom: 0;
  }
  
  label {
    text-transform: unset !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    letter-spacing: unset !important;
  }
}